@use "variables" as *;
@use "mixins";

/* =========================== GLOBALS =========================== */
body {
    font-family: $body-font;
    max-width: 1100px;
    margin: 0 auto;
    @include mixins.breakpoint(large) {
        background-color: $background-color-body;
    }
}

main {
    border-radius: 10px 10px 0 0;
    background-color: $background-color-main;
}

footer {
    padding: 1rem 0;
    background-color: $pokemon-lightblue;
    text-align: center;
    border-top: 2px solid $pokemon-yellow;
}
