/* 63.75rem = 1020px @ 16px base */
@media only screen and (min-width: 63.75rem) {

    /*----------- BODY --------------*/
        header, nav, main, footer {
            max-width: 70rem;
            margin: 0 auto;
        }
    
    /*----------- HEADER --------------*/
        header img {
            width: 120px;
        }
        header h1 { 
            font-size: 2rem;
        }
        header h2 { 
            font-size: 1.3rem; 
        }
    
    
    /*----------- NAVIGATION --------------*/
    
    
    /*----------- MAIN --------------*/
    main h1 {
        font-size: 2.5rem;
    }
    .forecast_heading {
        font-size: 1.8rem;
    }
    section.forecast {
        width: 80%;
    }
    section.forecast div h5 {
        font-size: 1rem;
    }
    section.forecast div p {
        font-size: 1.2rem;
    }
    
    /*----------- FOOTER --------------*/
    
    
    /*=====================================================================================================*/
    /*======================================= Weather Gallery =============================================*/
    /*=====================================================================================================*/
    
    /*----------- BODY --------------*/
    
    
    /*----------- HEADER --------------*/
    
    
    /*----------- NAVIGATION --------------*/
    
    
    /*----------- MAIN --------------*/
    main .gallery_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main .gallery_grid figure:hover {
        box-shadow: 5px 12px 5px #333;
        transition: .5s;
    }
    
    /*----------- FOOTER --------------*/



    /*=====================================================================================================*/
    /*===================================== Home Page Wireframes ==========================================*/
    /*=====================================================================================================*/

    .wireframes {
        grid-template-columns: 1fr 1fr 1fr;
    }



    /*=====================================================================================================*/
    /*========================================== Home Page ================================================*/
    /*=====================================================================================================*/

    main .townsDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .townsDiv section {
        display: unset;
        margin: .5rem;
    }
    
    
    
    } /* End of media query */